<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: white;
}

h1 {
    color: black;
    text-align: left;
    font-family: arial;
    border:2px solid;
    border-top-color: white;
    border-left-color:white;
    border-right-color:white;
    border-bottom-color:red;
}

p {
    font-family: arial;
    font-size: 20px;
}

p1 {
	font-family: arial;
    font-size: 20px;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

</style>
</head>
<body>

<h1>Welcome to Yelping-it-up</h1>
<p>Yelping-it-up is the new up and coming Yelp. Yelping-it-up is not only sleek and clean it's also very useful to find the best restaurants around town!</p>

<p>With Yelping-it-up you are able to make a more informed choices and tell people about your experiences!</p>

<p>With this community driven site you are able to get different views on places you might have never known about!</p>

<p>Now why don't you look at some pictures of some delicious food to get you hungry!</p>

<div class="img">
  <a target="_blank" href="http://i.imgur.com/t6xM9fV.jpg">
    <img src="http://i.imgur.com/t6xM9fV.jpg" alt="Pizza" width="300" height="200">
  </a>
  <div class="desc">Who doesn't love pizza!</div>
</div>

<div class="img">
  <a target="_blank" href="http://i.imgur.com/Kj4l553.jpg">
    <img src="http://i.imgur.com/Kj4l553.jpg" alt="Sandwhich" width="300" height="200">
  </a>
  <div class="desc">Cheesy!</div>
</div>

<div class="img">
  <a target="_blank" href="http://i.imgur.com/kswgKG5.jpg">
    <img src="http://i.imgur.com/kswgKG5.jpg" alt="Desert" width="300" height="200">
  </a>
  <div class="desc">Mhmmm!</div>
</div>

<div class="img">
  <a target="_blank" href="http://i.imgur.com/SVhcZxN.jpg">
    <img src="http://i.imgur.com/SVhcZxN.jpg" alt="Bacon" width="300" height="200">
  </a>
  <div class="desc">Bacon!</div>
</div>



</body>
</html>
