<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: white;
}

h1 {
    color: black;
    text-align: left;
    font-family: arial;
}
h3	{
	font-family: arial;
}
h2{	
	font-family: arial;
}
p {
    font-family: arial;
    font-size: 15px;
}

p1 {
	font-family: arial;
    font-size: 27px;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}
u { 
    text-decoration: underline;
}

</style>
</head>
<body>

<h1><strong>I would love to here from you!</strong></h1>
<hr />
<p>For more about me and what I am doing visit my <a href="https://sites.google.com/site/jeremiahparrack/home">site</a>.</p>
<ul>

</ul>
<p>Contact me at <a href="mailto:jeremiahlukus1@gmail.com">here</a></p>
<p>Our team leader Jeremiah has been the driving force in developing this site in a clear and concise way with the help of our developmental team: Aqsa, Carlos, Tobi, Asadud, and John to help and delivery a simple and easy way to make your food experience great!</p>

<h2>Developmental Team</h2>
<hr />

<p1><u><strong>Team Leader and Main Coder/Developer:</strong></u></p1>
<h3>Jeremiah</h3>
<p><a href="mailto:jeremiahlukus1@gmail.com">Email</a></p>
<p><a href="https://sites.google.com/site/jeremiahparrack/home">Reach me at this site!</a></p>

<p1><u><strong>Title</strong></u></p1>
<h3>Aqsa</h3>
<p><a href="mailto:arouf1@student.gsu.edu">Email</a></p>
<p><a href="www.google.com">Reach me at this site!</a></p>

<p1><u><strong>Title</strong></u></p1>
<h3>Tobi</h3>
<p><a href="mailto:arouf1@student.gsu.edu">Email</a></p>
<p><a href="www.google.com">Reach me at this site!</a></p>

<p1><u><strong>Documenter I / Designer I</strong></u></p1>
<h3>Asadud Rouf</h3>
<p><a href="mailto:arouf1@student.gsu.edu">Email</a></p>
<p><a href="https://sites.google.com/view/asadudrouf424">Reach me at this site!</a></p>

<p1><u><strong>Title</strong></u></p1>
<h3>Carlos</h3>
<p><a href="mailto:ulycarlos@gmail.com">Email</a></p>
<p><a href="https://sites.google.com/site/ulyssescarlos1/">Reach me at this site!</a></p>

<p1><u><strong>Title</strong></u></p1>
<h3>John</h3>
<p><a href="mailto:arouf1@student.gsu.edu">Email</a></p>
<p><a href="https://sites.google.com/site/johngraberssite">Reach me at this site!</a></p>

</body>
</html>
