<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: white;
}

h1 {
    color: black;
    text-align: left;
    font-family: arial;
}
h3  {
  font-family: arial;
}
h2{ 
  font-family: arial;
}
p {
    font-family: arial;
    font-size: 18px;
}

p1 {
  font-family: arial;
    font-size: 20px;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}
u { 
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: red;
    color: white;
}
</style>
</head>
<body>

<h1><strong>I would love to here from you!</strong></h1>

<p>For more about me and what I am doing visit my <a href="https://sites.google.com/site/jeremiahparrack/home">site</a>.</p>
<p>Contact me at <a href="mailto:jeremiahlukus1@gmail.com">here</a></p>
<h4>Message from: Jeremiah - Team Leader</h4>
<hr />

<ul>

</ul>
<h2>Our team leader Jeremiah has been the driving force in developing this site in a clear and concise way with the help of our developmental team: Aqsa, Carlos, Tobi, Asadud, and John to help an create a great enviroment for its community! Check out these people!</h2>

<h1><u>Developmental Team</u></h2>

<table>
  <tr>
    <th><h3><strong>Title</strong></h3></th>
    <th><h3><strong>Name</strong></h3></th>
    <th><h3><strong>Email</h3></strong></th>
    <th><h3><strong>Website</strong></h3></th>
  </tr>
  <tr>
    <td><p1><strong>Team Leader and Main Coder/Developer:</strong></p1></td>
    <td><h3>Jeremiah</h3></td>
    <td><p><a href="mailto:jeremiahlukus1@gmail.com">Email</a></p></td>
    <td><p><a href="https://sites.google.com/site/jeremiahparrack/home">Reach me at this site!</a></p></td>
  </tr>
  <tr>
     <td><p1><strong>Title</strong></p1></td>
    <td><h3>Aqsa</h3></td>
    <td><p><a href="mailto:arouf1@student.gsu.edu">Email</a></p></td>
    <td><p><a href="www.google.com">Reach me at this site!</a></p></td>
  </tr>
  <tr>
    <td><p1><strong>Title</strong></p1></td>
    <td><h3>Tobi</h3></td>
    <td><p><a href="mailto:arouf1@student.gsu.edu">Email</a></p></td>
    <td><p><a href="www.google.com">Reach me at this site!</a></p></td>
  </tr>
  <tr>
    <td><p1><strong>Documenter I / Designer I</strong></p1></td>
    <td><h3>Asadud Rouf</h3></td>
    <td><p><a href="mailto:arouf1@student.gsu.edu">Email</a></p></td>
    <td><p><a href="https://sites.google.com/view/asadudrouf424">Reach me at this site!</a></p></td>
</tr>
<tr>
  <td><p1><strong>Title</strong></p1></td>
    <td><h3>Carlos</h3></td>
    <td><p><a href="mailto:ulycarlos@gmail.com">Email</a></p></td>
    <td><p><a href="https://sites.google.com/site/ulyssescarlos1/">Reach me at this site!</a></p>
</td>
</tr>

<tr>
  <td><p1><strong>Title</strong></p1></td>
    <td><h3>John</h3></td>
    <td><p><a href="mailto:arouf1@student.gsu.edu">Email</a></p></td>
  <td><p><a href="https://sites.google.com/site/johngraberssite">Reach me at this site!</a></p></td>


</tr>

</table>

</body>
</html>
